<h1>Here are the yarns</h1>
<p>Oh, no yarns? TOO BAD!!!</p>
<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.name %> <br>
      <%= article.weight %> <br>
      <%= article.fiber %> <br>
      <%= article.yardage %> <br>
    </li>
  <% end %>
</ul>